@charset "UTF-8";

html,
body {
  margin: 0;
  /* 余白の削除 */
  padding: 0;
  /* 余白の削除 */
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-image: url(/images/storn.jpg?5f02c2d600c14b28f74e9ebb122216c9);
}

header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: rgba(245, 245, 245, 0.5);
}

.row {
  margin-top: 180px;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.top-wrapper {
  background-image: url(/images/storn.jpg?5f02c2d600c14b28f74e9ebb122216c9);
  background-size: 100% 100%;
  height: 100vh;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  color: black;
}

.btn-secondary {
  border-radius: 5px;
}

